<div class="vertical-inline-parent">
    <div class="upper-half">
        <div id="time" class="vertical-inline-parent">
            <h1 id="time-text" class="dimmable-text"></h1>
            <h4 id="am-pm-text" class="dimmable-text"></h4>
        </div>
    </div>
    <div class="lower-half">
        <div class="upper-half">
            <div id="date-and-month" class="vertical-inline-parent">
                <h1 id="date-text" class="dimmable-text"></h1>
            </div>
        </div>
        <div class="lower-half">
            <div id="day" class="vertical-inline-parent">
                <h1 id="day-text" class="dimmable-text"></h1>
            </div>
        </div>
    </div>
</div>