<div class="upper-half">
    <div class="vertical-inline-parent">
        <img id="conditions-icon"></img>
    </div>
</div>
<div class="lower-half">
    <div class="vertical-inline-parent">
        <table id="weather-lower-half">
            <tr>
                <td style="width:21%" align="right" class="small-weather-number-column">
                    <div class="upper-half">
                        <div class="vertical-inline-parent">
                            <h1 id="high-text" class="temp-number"></h1>
                        </div>
                    </div>
                    <div class="lower-half">
                        <div class="vertical-inline-parent">
                            <h1 id="low-text" class="temp-number"></h1>
                        </div>
                    </div>
                </td>
                <td style="width:58%" align="center">
                    <h1 id="current-temp-text" class="temp-number"></h1>
                </td>
                <td style="width:21%" align="center" class="small-weather-number-column">
                    <div class="upper-half">
                        <div class="vertical-inline-parent">
                            <h1 id="wind-text" class="dimmable-text"></h1>
                        </div>
                    </div>
                    <div class="lower-half">
                        <div class="vertical-inline-parent">
                            <h1 id="chance-of-rain-text" class="dimmable-text"></h1>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>