#time-text, #am-pm-text {
	vertical-align: text-bottom;
	line-height: 27vw;
}

#time-text {
	font-size: 17.25vw;
	position: relative;
	left: 1.5vw;
}

#am-pm-text {
	font-size: 3vw;
	position: relative;
	top: .15vw;
	left: 1vw;
}

#date-text {
	font-size: 10vw;
}

#day-text {
	font-size: 10vw;
}
