.background {
	z-index: -1;
}
body, html {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: Helvetica;
}

#right-half-outer {
	position: relative;
	height: 100%;
	width: 50%;
	left: 50%;
}

.right-half-screen {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
}

.vertical-inline-parent {
  display: table;
  height: 100%;
  width: 100%;
}

.vertical-inline-parent p {
  display: table-cell;
  margin: 0;
  vertical-align: middle;
  text-align: center;
}

.upper-half {
	position: absolute;
	height: 50%;
	top: 0;
	width: 100%;
	left: 0;
}

.lower-half {
	position: absolute;
	height: 50%;
	top: 50%;
	width: inherit;
	left: inherit;
}