@font-face {
	font-family: HelveticaNeue; src: url('/fonts/HelveticaNeue.ttf');
}

.background {
	z-index: -1;
}

body, html {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: HelveticaNeue, Helvetica, Verdana, Arial, Sans-Serif;
}

p, h1, h2, h3, h4, h5 {
	color: rgba(228, 228, 228, 0.90);
}

#left-half-outer, #right-half-outer {
	display: inline-block;
}

#left-half-outer {
	position: relative;
	height: 100%;
	width: 50%;
	left: 0;
}

#right-half-outer {
	position: relative;
	height: 100%;
	width: 49%;
	left: 0;
}

.right-half-screen {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
}

.vertical-inline-parent {
  display: table;
  height: 100%;
  width: 100%;
}

.vertical-inline-parent p,
.vertical-inline-parent h1,
.vertical-inline-parent h2,
.vertical-inline-parent h3,
.vertical-inline-parent h4 {
  display: table-cell;
  margin: 0;
  vertical-align: middle;
  text-align: center;
}

.upper-half {
	position: absolute;
	height: 50%;
	top: 0;
	width: inherit;
	left: inherit;
}

.lower-half {
	position: absolute;
	height: 50%;
	top: 50%;
	width: inherit;
	left: inherit;
}

.vertical-block-parent {
	position: relative;
	width: 100%;
}

.vertical-block-parent div,
.vertical-block-parent table {
	position: absolute;
	width: inherit;
	top: 50%;
}