#conditions-icon {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 30vw;
}

#weather-lower-half {
	height: 100%;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

#high-text, #low-text, #wind-text, #chance-of-rain-text {
	font-size: 7vw;
	position: relative;
}

#high-text, #low-text {
	left: 1.5vw;
}

#wind-text, #chance-of-rain-text {
	right: 3.5vw;
}

.small-weather-number-column h1 {
	vertical-align: top;
	position: relative;
	top: 3vw;
}

.small-weather-label {
	position: relative;
	bottom: 0.75vw;
	font-size: 3vw;
}

#current-temp-text {
	font-size: 16.5vw;
}

#weather-lower-half {
    table-layout: fixed;
    width: 100%;
}

#weather-lower-half td {
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
}
