#high, #low, #current-temp, #wind, #chance-of-rain, #conditions {
	display: inline-block;
	position: absolute;
	transform: translateY(-50%);
	margin: auto;
	text-align: center;
}

#high, #low {
	left: 3%;
	width: 13.5%;
}

#high, #low, #wind, #chance-of-rain {
	font-size: 3vw;
}

#high, #wind {
	top: 25%;
}

#chance-of-rain-inner, #rain-inner, #wind-inner, #mph-inner {
	position: relative;
	bottom: 1vw;
}

#mph-inner, #wind-inner, #chance-of-rain-inner, #rain-inner {
	text-align: center;
}

#wind-text, #chance-of-rain-text {
	margin-bottom: 0;
}

#mph-text, #rain-text {
	margin-top: 0;
	font-size: 1.5vw;
}

#low, #chance-of-rain {
	top: 75%;
}

#current-temp, #conditions {
	top: 50%;
}

#current-temp {
	left: 30%;
	width: 36.5%;
	font-size: 6.5vw;
}

#wind, #chance-of-rain {
	left: 73%;
	width: 13.5%;
}